@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hello! Welcome to DFI Project</h1>
    <p>A place where we can learn how to draw, having fun and sharing our knowledge about art.</p>
    <p>You can find us on dfi_official (twitter) and day6fanartistsid (instagram)</p>
</div>
