@model DFI_Project.Models.User
@{
    ViewData["Title"] = "Edit";
    Layout = "/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>
<h3>User Edit</h3>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="UserID" />
            <!--<div class="form-group">
                <label asp-for="UserID" class="control-label"></label>
                <label asp-for="UserID" class="form-control" />
                <span asp-validation-for="UserID" class="text-danger"></span>
            </div>-->
            <div class="form-group">
                <label asp-for="UserUsername" class="control-label"></label>
                <input asp-for="UserUsername" class="form-control" />
                <span asp-validation-for="UserUsername" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserEmail" class="control-label"></label>
                <input asp-for="UserEmail" class="form-control" />
                <span asp-validation-for="UserEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserPassword" class="control-label"></label>
                <input asp-for="UserPassword" class="form-control" />
                <span asp-validation-for="UserPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserHometown" class="control-label"></label>
                <input asp-for="UserHometown" class="form-control" />
                <span asp-validation-for="UserHometown" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserBirthDate" class="control-label"></label>
                <input asp-for="UserBirthDate" class="form-control" />
                <span asp-validation-for="UserBirthDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserTwitter" class="control-label"></label>
                <input asp-for="UserTwitter" class="form-control" />
                <span asp-validation-for="UserTwitter" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserInstagram" class="control-label"></label>
                <input asp-for="UserInstagram" class="form-control" />
                <span asp-validation-for="UserInstagram" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts{
    @{ await Html.RenderPartialAsync("/Views/Shared/_ValidationScriptsPartial.cshtml");}
}